.App {
  text-align: center;
  font-family: sans-serif;
  padding: 2rem;
}

.App-header {
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 10px;
}

.App-link {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}
